<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
  <h1 class="title">HAIRrison: The Pony Pal</h1>
  <div class="initialContent">
    <div class="initialContainer">
      <p id="status">Please ensure device is connected before proceeding</p>
      <div id="connSpinner" class="loader"></div>
      <button id="connectBtn" class="btn">Test Connection</button>
      <button id="continueBtn" style="display: none" class="btn">Continue</button>
      
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='startScript.js') }}"></script>
</body>
</html>
